---
layout: default
fixed_navigation: true
nav: home
---


<div id='main' role='main'>
  <!-- / carousel blur -->
  <div id="home">
    {% include main_slider.html %}
  </div>

  <div id='main-content'>
    <div class='container'>

      <div id="about" class='row'>
        <div class='col-sm-12'>
          {% include about.html %}
        </div>
      </div>

      <div id="services" class='row'>
        <div class='col-sm-12'>
          {% include services.html %}
        </div>
      </div>

      <div id="process" class='row'>
        <div class='col-sm-12'>
          {% include processes.html %}
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-12'>
          {% include latest_case_studies.html %}
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
