---
layout: default
fixed_navigation: false
nav: clients
---

<div id='main' role='main'>

  <div id='main-content'>


    <div class="page-header page-header-with-icon no-mg-t">
      <h1>
        Some of our clients
      </h1>
    </div>




    <div class='container'>
      <div class='row' id='portfolio-filter'>
        <div class='col-sm-12'>
          <ul class='nav nav-pills'>
            <li class='active'><a data-filter="*" href="#">All</a></li>
            <li><a data-filter=".portfolio-filter-merchandise" href="#">Merchandise</a></li>
            <li><a data-filter=".portfolio-filter-print" href="#">Print</a></li>
            <li><a data-filter=".portfolio-filter-packaging" href="#">Packaging</a></li>
          </ul>
        </div>
      </div>
      <div class='row portfolio-boxes' id='portfolio-container'>

        {% for client in site.data.clients %}

        <div class='col-sm-3 portfolio-box portfolio-item {% for cat in client.categories %}portfolio-filter-{{ cat | downcase }} {% endfor %}'>
          {% if client.link %}
          <a href='{{ client.link }}'>
            <div class='image-link'>
              <i class='fa fa-eye'></i>
              {% img {{client.image}} class:'img-responsive img-rounded center-block' width:263 height:171 %}
            </div>
            <!-- <h3 class='title'>{{ client.name }}</h3> -->
            <p class='category'>
              {{ client.categories | array_to_sentence_string }}
            </p>
          </a>
          {% else %}
            {% img {{client.image}} class:'img-responsive img-rounded center-block' width:263 height:171 %}
            <p class='category'>
              {{ client.categories | array_to_sentence_string }}
            </p>
          {% endif %}
        </div>

    {% endfor %}


      </div>
    </div>

    <div class='fade' id='scroll-to-top'>
      <i class='fa fa-chevron-up'></i>
    </div>

  </div>

</div>
