<div class="page-header page-header-with-icon">
      <h2>
        Some of Our Clients
      </h2>
    </div>



<div class="row">

  {% for client in site.data.clients %}

      {% assign mod = forloop.index | modulo: 4 %}
        {% if mod == 1 %}
          <div class="row">
        {% endif %}

        <div class="col-sm-3">
          {% if client.link %}
          <a href='{{ client.link }}'>
            {% asset {{client.image}} class='img-fluid center-block' %}
          </a>
          {% else %}
            {% asset {{client.image}} class='img-fluid center-block' %}
          {% endif %}
        </div>


        {% if mod == 0 %}
          </div>
        {% endif %}

    {% endfor %}


</div>
