<footer id='footer'>
  <div id='footer-main'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3 col-sm-6 info-box'>
          <div class='logo-container'>
            {% img 'logo-white-header.png' alt:'Springboard Designs' %}
          </div>
          <p class='no-mg-b'>{{ site.data.general.footer.about }}</p>
        </div>


        <div class='col-md-1 col-sm-6 info-box social-box'>

        </div>


        <div class='col-md-4 col-sm-6 info-box'>
          <div class='logo-container'></div>
          <div class='icon-boxes'>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-map-marker'></i>
              </div>
              <div class='content'>
                {{ site.data.general.footer.address }}
              </div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-phone'></i>
              </div>
              <div class='content'>
                <a href='tel:{{ site.data.general.footer.telephone }}'>{{ site.data.general.footer.telephone }}</a>
              </div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-envelope'></i>
              </div>
              <div class='content'><a href="mailto:{{ site.data.general.footer.email }}">{{ site.data.general.footer.email }}</a></div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-globe'></i>
              </div>
              <div class='content'><a href="#">{{ site.data.general.footer.web_address }}</a></div>
            </div>
          </div>
        </div>

        <!-- <div class='col-md-3 col-sm-6 info-box'>
          <h2 class='title'>Newsletter</h2>
          <p>Proin condimentum, nisi vel vestibulum ultricies, nunc elit.</p>
          <form action='index.html' class='form-inline form-validation' method='get'>
            <div class='row'>
              <div class='form-group control-group col-xs-9 col-md-8 col-lg-9'>
                <input class='form-control' data-rule-email='true' data-rule-required='true' id='newsletter_email' name='newsletter[email]' placeholder='Email address' type='email'>
              </div>
              <div class='col-xs-3 col-md-4 col-lg-3'>
                <button class='btn btn-medium-light btn-block' type='submit'>
                  <i class='fa fa-reply text-white'></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div> -->

      </div>
    </div>
  </div>
  <div id='footer-copyright'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 clearfix'>
          <p class='copyright' style="color:#434955; font-size:10.5px;">
            {{ site.data.general.footer.copyright | replace: ' ', '&nbsp;'}}
            &nbsp; &nbsp; &nbsp;
            {{ site.data.general.footer.company_registration | replace: ' ', '&nbsp;'}}
            &nbsp; &nbsp; &nbsp;
            {{ site.data.general.footer.vat | replace: ' ', '&nbsp;'}}
          </p>
          <div class='links'>
            <!-- <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
              <i class='fa fa-twitter text-dark'></i>
            </a>
            <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
              <i class='fa fa-dribbble text-dark'></i>
            </a>
            <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
              <i class='fa fa-facebook text-dark'></i>
            </a>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
