<header id='header' {% if page.fixed_navigation %} fixed="true" {% else %} class="header--no-move" {% endif %}>
  <div class='container'>
    <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'></a>
      </div>
      <div id="navbar-main" class='collapse navbar-collapse navbar-header-collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <li {% if page.nav == '' %} class='active' {% endif %}>
            <a href='/'>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href='{% if page.path != 'index.html' %}/{% endif %}#about'><span>About</span></a>
          </li>
          <li>
            <a href='{% if page.path != 'index.html' %}/{% endif %}#services'><span>Services</span></a>
          </li>
          <li>
            <a href='{% if page.path != 'index.html' %}/{% endif %}#process'><span>Process</span></a>
          </li>
          <li>
            <a href='{% if page.path != 'index.html' %}/{% endif %}#case-studies'><span>Case Studies</span></a>
          </li>

          <li>
            <a href='{% if page.path != 'index.html' %}/{% endif %}#clients'><span>Clients</span></a>
          </li>

          <li>
            <a href='#footer'><span>Contact</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>



