<header id='header' fixed="true">
  <div class='container'>
    <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='index.html'></a>
      </div>
      <div class='collapse navbar-collapse navbar-header-collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <li class='active'>
            <a href='#'>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href='#'>
              <span>What we do</span>
            </a>
          </li>
          <li>
            <a href='#'>
              <span>How we work</span>
            </a>
          </li>
          <li>
            <a href='#'>
              <span>Clients</span>
            </a>
          </li>
          <li>
            <a href='#'>
              <span>Contact</span>
            </a>
          </li>                              
        </ul>
      </div>
    </nav>
  </div>
</header>