<div class='page-header page-header-with-icon'>
<!--   <i class='fa fa-star'></i> -->
  <h2>
    {{ site.data.general.latest_case_studies.title}}
    <small>{{ site.data.general.latest_case_studies.caption}}</small>
  </h2>
</div>


<div class='row portfolio-boxes'>
  {% assign case_studies = site.data.case_studies | where: "latest", true %}

  {% for case_study in case_studies %}

  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
    <a class='image-link' href='{{ case_study.title | datapage_url: 'case-studies' }}'>
      <i class='fa fa-search'></i>
      {% asset {{case_study.latest_image}} class:'img-responsive img-rounded center-block' width:262 height:262 %}
    </a>
    <h3 class='title'>{{ case_study.title }}</h3>
    <p class='category'>{{ case_study.categories }}</p>
  </div>

  {% endfor %}


</div>
