

<div style="height:40vw; min-height: 380px;" class='hero-carousel hidden-sm hidden-xs carousel-blur carousel-blur-pagination flexslider' id='carousel-example-1'>

  <ul class='slides'>

  {% for slider in site.data.sliders %}

    <li class='item home-hero-slide' style="height:35vw; min-height:350px; background-position: {{slider.image_align}}; background-repeat: no-repeat; background-size: auto 100%; background-image:url({% asset {{slider.image}} @path %});">

  <div class="container">
        <div class='row'>
          <div class='col-lg-12 animate'>



            <div style='float:{{ slider.text_align }}; margin-{{ slider.text_align }}:2vw; width: {{ slider.width }};'>

              <h2 class='big fadeInUp animated' style="font-family: 'Libre+Baskerville'; margin-top:5vw; font-size: calc(11px + 1.5vw); line-height:calc(11px + 2vw); text-align:{{ slider.text_align }};">
               {{ slider.title }}
              </h2>

              <p class='normal fadeInUp animated' style="margin-top:1vw; font-size: calc(5px + 0.8vw); line-height:calc(11px + 1.2vw); text-align:{{ slider.text_align }};">
                {{ slider.content }}
              </p>

              <div style="display:none;">{% asset {{slider.image}} width=1 height=1 %}</div>

            </div>

          </div>
        </div>
        </div>

    </li>

  {% endfor %}

  </ul>

</div>
