    <div class='page-header page-header-with-icon'>
      <!-- <i class='fa fa-star'></i> -->
      <h2>{{ site.data.general.solutions.title}}</h2>
    </div>

<div class='panels-wrapper'>
  <div class='row panels'>


  {% for solution in site.data.solutions %}
    <div class='col-sm-4 panel-item'>
      <a class='panel panel-image' href='#'>
        <div class='panel-icon'>
          <i class='fa fa-key icon'></i>
        </div>
        <div class='panel-heading'>
          {% asset {{solution.image}} class:'img-responsive-sm' width:384 height:150 %}
        </div>
        <div class='panel-body'>
          <h3 class='panel-title'>{{ solution.name }}</h3>
          <p>{{ solution.content }}</p>
        </div>
      </a>
    </div>


  {% endfor %}



  </div>
</div>
