@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

@import "template/bootstrap/bootstrap";
@import "template/jednotka_green";



.home-hero-slide-one {
  background-image: url(asset_path('big1.jpg'));
  h2 { color: #46442d !important; }
  p { color: #31301d !important; }
}
.home-hero-slide-two {
  background-image: url(asset_path('big2.jpg'));
	h2 { color: #cc3556 !important; }
	p { color: #252525 !important; }
}
.home-hero-slide-three {
  background-image: url(asset_path('big3.jpg'));
  h2 { color: #694839 !important; }
  p { color: #694839 !important; }
}

#header {
	background:rgba(255, 255, 255, 0.7); 
}