

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro');

body {
  background-color: white;
}

.page-header h2 {
  font-family: 'Libre Baskerville';
  text-transform: none !important;
  font-size:32px !important;
}

.alt-font {
  font-family: 'Libre Baskerville';
}

.case-study-title {
  font-size: 20px !important;
  font-family: 'Libre Baskerville';
  margin-bottom: 20px;
}


.home-hero-slide {
  h2 { color: #46442d !important; }
  p { color: #31301d !important; }
}

#header {
	background:rgba(255, 255, 255, 0.7);
}

#main-content { margin-top: 0; padding-top: 0; }

@media only screen and (max-width: 1000px) {
  #main-content { margin-top: -60px;}
  // .hero-carousel { display: none; }
  #header {
    &.header--no-move {
      margin-bottom: 100px !important;
    }
  }


}


#footer #footer-main {

  a, p, .icon-boxes .content, .icon-boxes .content a {
    color: white;
  }

}
.flex-prev {
  visibility: hidden;
}

.flex-next {
  visibility: hidden;
}
